/* CSS RESET START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET ENDS */

#loginInput {
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    height: 22px;
    border: 1px solid #dddfe2;
}

#loginB {
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 364px;
    height: 50px;
    border: 1px solid #dddfe2;
}

.loginMain {
    background-color: #f0f2f6;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.loginForm {
    display: flex;
    width: 396px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    border: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.loginForm  > form {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
    
}
.loginForm > form > input {
    margin-bottom: 10px;
}

.loginForm > form > button {
    background-color: #990CF5;
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 40px;
}
.loginText {
    margin-left: 240px;
    margin-right: 100px;
    margin-bottom: 50px;
}
.loginText > .title {
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #990CF5;
    margin-bottom: 5px;
}
.loginText > .sub_title {
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
    width: 471px;
    font-family: system-ui;
}

.signupButton > button {
    background-color: #43b82a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

/* SIGNUP FORM CSS START */
.signupDiv {
    position: absolute;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    height: 100%; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupContainer {
    background-color: white;
    width: 450px;
    height: 550px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    
}
#nameInput {
    border: solid 1px #cdd0d5;
    width: 170px;
    padding: 11px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #f5f6f7;
}
.signupHeader {
    border-bottom: solid#cdd0d5 1px;
    padding: 10px;
    margin-bottom: 15px;
}
.signupHeader > h2 {
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
    font-weight: 600;
}
.signupHeader > p {
    color: #747b82;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    /* margin-bottom: 12px; */
}
#epwInput {
    border: solid 1px #cdd0d5;
    width: 387px;
    padding: 11px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #f5f6f7;
}
.signupContainer > form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
#formSection {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-left: 18px;
}
#bdayOptions {
    width: 125px;
}
#xicon {
    position: absolute;
    left: 63%;
    top: 17.5%;
    height: 22px;
}
/* SIGNUP FORM CSS END */
